/models/Dildo-Detection-4_yolo11s.pt
/models/Hentai-segmentation_yolo11m-seg.pt
/models/Sex-insertables_yolo11s.pt
/models/Sex-insertables_yolo11m.pt
/models/Hentai-segmentation_yolo11s.pt
/models/Hentai-segmentation_yolo11m.pt
/models/Sex-insertables_yolo11n.pt
/models/Hentai-segmentation_yolo11l.pt
/models/Hentai-segmentation_yolo11x.pt
/datasets/Dildo-Detection-4/
/datasets/Hentai-segmentation/
/datasets/Sex-insertables/
/configs/project_config.yaml
/configs/train_conf.yaml
/autolabel/b/
/autolabel/hentai/
/autolabel/images/
/runs/
/utils/CVAT/sam2.1_l.pt
/utils/CVAT/sam_b.pt
/utils/subreddit-image-scraper/praw.ini
/yolo11n.pt
/utils/CVAT/exports/
/utils/Google-image-scrapper/downloaded_images/
/utils/r34-image-scrapper/images/
/utils/subreddit-image-scraper/reddit_images/
.idea
.gitignore